/* Reset or normalization styles */

/* Global styles */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* Add this CSS to your stylesheet */

.main {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content horizontally */
  padding: 16px; /* Add padding to create space around the content */
}

.sections {
  display: flex; /* Create a flex container */
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.high,
.medium,
.low {
  flex: 1; /* Give each section equal width */
  padding: 20px; /* Add padding for spacing */
}

h1{
  font-weight: 700;
  font-size: 48px;
  font-optical-sizing: auto;
}

h2{
  font-weight: 700;
  font-size: 32px;
  font-optical-sizing: auto;
}

h3{
  font-weight: 700;
  font-size: 24px;
  font-optical-sizing: auto;
}
.description{
  font-weight: 600;
  font-size: 24px;
  font-optical-sizing: auto;
}



/* Media query for mobile devices */
@media (max-width: 768px) {
  .sections {
    flex-direction: column; /* Stack sections vertically on mobile */
  }
}
