/* Reset or normalization styles */

/* Global styles */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

/* Add this CSS to your stylesheet */

.main {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content horizontally */
  padding: 16px; /* Add padding to create space around the content */
}

.sections {
  display: flex; /* Create a flex container */
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.high,
.medium,
.low {
  flex: 1; /* Give each section equal width */
  padding: 20px; /* Add padding for spacing */
}

.low ul li::marker {
  color: green;
}

.medium ul li::marker {
  color:  rgb(140, 16, 140);
}

.high ul li::marker {
  color: red;
}


h1{
  font-weight: 700;
  font-size: 48px;
}

h2{
  font-weight: 700;
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

h3{
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

h4{
  margin: 0;
  margin-top:8px

}

ul{
  margin-top: 16px;
  margin-bottom: 16px;
}
.description{
  font-weight: 600;
  font-size: 24px;
}

.low h3{
 
  color: green;
}

.medium h3{
 
  color: rgb(140, 16, 140);
}

.high h3{
 
  color: red;
}
span{
  font-weight: bold;
  color: darkblue;
}

a{
  text-decoration: none;
}



.responsive-image {
  width: 100%;
  height: auto;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .sections {
    flex-direction: column; /* Stack sections vertically on mobile */
  }

 
}


.search{
  position: relative;
}

#search-bar{
  width: 85%;
  padding: 1rem;
  border-radius: 50px;
  border:3px solid black;
  font-size:18px;
  position: relative;
}
#autocomplete-suggestions{
 padding: 1rem;
 line-height: 1rem;
 overflow-y: auto;
}

.clear-button {
 position: absolute; 
 font-weight: 700;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 18px; /* Adjust font size as needed */
  padding-top: 16px;
  right: 15%;
}